# dependencies
node_modules/
.pnp
.pnp.js

# build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# turbo
.turbo/

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# testing
coverage/

# database
prisma/*.db
prisma/*.db-journal

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# docker
infra/docker/data/

# misc
*.pem
.vercel
